<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<h1>分页页面</h1>

<div id="ctx">
<!-- 	<a href="toCreatesAjax">新增</a> -->
<button @click="showCreate" class="btn btn-primary btn-xs">开新班了</button>
	<input type="text" v-model="name">
	<button @click="getPage(1)" class="btn btn-primary btn-xs">搜素</button>
	<table class="table">
		<tr>
			<td>
				<input type="checkbox" v-model="checkValue">
				编号
				</td>
			<td>姓名</td>
			<td>年龄</td>
			<td>班级</td>
			<td>操作</td>
		</tr>
		<tr v-for="item in page.list">
			<td>
				<input type="checkbox" v-model="checkList" :value="item.id">
				{{item.id}}
			</td>
			<td>{{item.name}}</td>
			<td>{{item.age}}</td>
			<td>{{item.grade.gradename}}</td>
			<td>
	  			<button @click="showUpdate(item)" class="btn btn-primary btn-xs">编辑</button>
			</td>
		</tr>
	</table>
	<button @click="removes()" class="btn btn-danger btn-xs">删除</button>
	<div id="pageMenv">
			<ul class="pager">
				<li><a href="#" @click="getPage(1)">首页</a></li>
			    <li><a href="#" @click="getPage(page.prePage)">上一页</a></li>
			    <li><span>{{page.pageNum}}/{{page.pages}}</span></li>
			    <li><a href="#" @click="getPage(page.nextPage)">下一页</a></li>
			    <li><a href="#" @click="getPage(page.pages)">尾页</a></li>
			</ul>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="updateInfo">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">编辑班级</h4>
		      </div>
		      <div class="modal-body">
			       <div class="form-horizontal">
			       		 <div class="input-group">
						 	<span class="input-group-addon" id="sizing-addon2">班级名称:</span>
							<input v-model="grade.gradename" type="text" class="form-control" placeholder="班级名称" aria-describedby="sizing-addon2">
						</div><br/>
			       </div>
					<div class="form-inline">
						<p>学生信息</p>
						<div v-for="item in grade.stus">
							<div class="input-group">
							  <span class="input-group-addon" id="sizing-addon3">姓名：</span>
							  <input v-model="item.name" type="text" class="form-control" placeholder="姓名" aria-describedby="sizing-addon2">
							</div><br/>
							
							<div class="input-group">
							  <span class="input-group-addon" id="sizing-addon3">年龄：</span>
							  <input v-model="item.age" type="text" class="form-control" placeholder="年龄" aria-describedby="sizing-addon2">
							</div><br/>
							
							<div class="input-group">
							  <span class="input-group-addon" id="sizing-addon3">生日：</span>
							  <input v-model="item.birthday" type="date" class="form-control" placeholder="生日" aria-describedby="sizing-addon2">
							</div><br/>
						</div>
					</div>
		      </div>
		      <div class="modal-footer">
		        <button @click="hideUpdate" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button @click="update" type="button" class="btn btn-primary">保存</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		
		<div class="modal fade" tabindex="-1" role="dialog" id="createInfo">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">开新班了</h4>
		      </div>
		      <div class="modal-body">
		       <div class="form-horizontal">
		       		 <div class="input-group">
					 	<span class="input-group-addon" id="sizing-addon2">班级名称:</span>
						<input v-model="stuInfo.name" type="text" class="form-control" placeholder="班级名称" aria-describedby="sizing-addon2">
					</div><br/>
		       </div>
				<div class="form-inline">
					<p>学生信息<button @click="addStu" class="btn btn-primary">增加</button></p>
					<div v-for="item in grade.stus">
						<div class="input-group">
						  <span class="input-group-addon" id="sizing-addon3">姓名：</span>
						  <input v-model="item.name" type="text" class="form-control" placeholder="姓名" aria-describedby="sizing-addon2">
						</div><br/>
						
						<div class="input-group">
						  <span class="input-group-addon" id="sizing-addon3">年龄：</span>
						  <input v-model="item.age" type="text" class="form-control" placeholder="年龄" aria-describedby="sizing-addon2">
						</div><br/>
						
						<div class="input-group">
						  <span class="input-group-addon" id="sizing-addon3">生日：</span>
						  <input v-model="item.birthday" type="date" class="form-control" placeholder="生日" aria-describedby="sizing-addon2">
						</div><br/>
					</div>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button @click="hideUpdate" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button @click="update" type="button" class="btn btn-primary">保存</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
</div>

<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.js}"></script>
<script type="text/javascript">
	var vm = new Vue({
		el:"#ctx",
		data(){
			return {
				page:[],
				checkList:[],
				checkValue:false,
				stuInfo:{},
				name:"",
				grade:{
					stus:[]
				}
			}
		},
		methods:{
			getPage(pageNum){
				var that = this;
				$.ajax({
					url:"[[@{/studentpage/findAll}]]?pageSize=2&pageNum="+pageNum,
					success:function(result){
						console.log(result);
						that.page = result;
					}
				});
			},
			removes(pageNum){
				var bol = confirm("你确定要删除吗？");
				if(bol == false){
					return;
				}
				var that = this;
				$.ajax({
					url:"[[@{/studentAjax/removes}]]",
					method:"post",
					data:{
						checkList:that.checkList
					},
					dataType:"text",
					success:function(result){
						if(result == "00000"){
							that.getPage(1);
						} else {
							alert("删除失败！")
						}
					}
				});
			},
			showUpdate(stu){
				this.stuInfo = stu;
				$("#updateInfo").modal("show");
			},
			hideUpdate(){
				$("#updateInfo").modal("hide");
			},
			showCreate(){
				$("#createInfo").modal("show");
			},
			hideCreate(){
				$("#createInfo").modal("hide");
			},
			update(){
				var that = this;
				var stu = JSON.stringify(this.stuInfo);
				console.log(stu);
				$.ajax({
					url:"[[@{/studentAjax/update}]]",
					data:stu,
					method:"post",
					contentType:"application/json;charset=utf-8",
					dataType:"text",
					success:function(result){
						if(result == "00000"){
							alert("修改成功！");
							that.hideUpdate();
							that.getPage(1);
						}else{
							alert("修改失败！");
						}
					}
				});
			},
			addStu(){
				this.grade.stus.push({});
			}
		},
		created(){
			this.getPage(1);
		},
		watch:{
			checkValue(value){
				if(value){
					this.checkList = this.page.list.map(item=>item.id);
				}else{
					this.checkList = [];
				}
			}
		}
	});
</script>
</body>
</html>