<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>班组技工</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../elementui/index.css"/>
		
		<style>
			/* 用来设置当前页面element全局table 选中某行时的背景色
			.el-table__body tr.current-row>td{
			  background-color: #f19944 !important;
			  /* color: #f19944; */  /* 设置文字颜色，可以选择不设置 } */
			
			/* 用来设置当前页面element全局table 鼠标移入某行时的背景色*/
			/* .el-table--enable-row-hover .el-table__body tr:hover>td {
			  background-color: #f19944;
			  /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 }  */
			 .el-dropdown-link {
			    cursor: pointer;
			    color: #409EFF;
			  }
			  .el-icon-arrow-down {
			    font-size: 12px;
			  }
			  #zj span{
				  color:#40AFFF;
			  }
		</style>
	</head>
	<body>
		<div class="container-fluid" id="ctx">
			<div class="panel panel-default">
			  <div class="panel-heading" style="position: relative;background-color: #F7FFFF;">
			    <h3 class="panel-title" style="font-size: 20px;font-weight: 800;">班组技工</h3>
				<div style="position: absolute; right: 20px;top:5px">
					<input v-model="name" placeholder="匹配工号/姓名" />
					<el-button @click="getjffind(1)" size="mini" type="warning">搜索</el-button>
					<el-button size="mini" type="info">关闭</el-button>
					
				</div>
			  </div>
			  <div class="panel-body" style="background-color: #F7F7F7;">
				  <el-row :gutter="24">
					<el-col :span="1.5">
						<span   style="color: #fbb347;"  class="glyphicon glyphicon-eye-open" ></span>
						<span @click="dialogVisible1 = true">增加员工</span> 
					</el-col>
					<el-col :span="1.5">
						<span  style="color: #fbb347;" class="glyphicon glyphicon-edit" ></span>
						<span @click="dialogVisible = true">修改</span>
					</el-col>
					<el-col :span="1.5">
						<span  style="color: #fbb347;" class="glyphicon glyphicon-remove-sign" ></span>
						<span @click="getshan" >删除</span>
					</el-col>
					<el-col :span="1.5">
						<span style="color: #fbb347;" class="glyphicon glyphicon-search" ></span>
						<span>查询</span>
					</el-col>
					<el-col :span="1.5">
						<span style="color: #fbb347;"  class="glyphicon glyphicon-lock" ></span>
						<span>制空密码</span>
					</el-col>
					<el-col :span="1.5">
						<span style="color: #fbb347;" class="glyphicon glyphicon-globe" ></span>
						<span @click="dialogTableVisible = true">班组权重</span>
					</el-col>
					<el-col :span="1.5">
						<span  style="color: #fbb347;" class="glyphicon glyphicon-export"></span>
						<span @click="daochu">导出</span>
					</el-col>
				  </el-row>
			  </div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2" >
						<el-tree :data="data" :props="defaultProps" node-key="id" 
						   default-expand-all
						   :expand-on-click-node="false"
						>
							<span class="custom-tree-node" slot-scope="{ node, data }">
							        <span>{{ node.label }}</span>
							        <span>
							          <el-button 
										v-if="data.qjudge==1"
							            type="text"
							            size="mini"
							            @click="() => append(data)">
							            添加班组
							          </el-button>
							          <el-button v-if="data.sect.length==0"
							            type="text"
							            size="mini"
							            @click="() => remove(data)">
							            删除
							          </el-button>
							        </span>
							      </span>
							
						</el-tree>
					</div>
					<div class="col-md-10">
						<template >
						  <el-table @row-click="getbg" :header-cell-style="{background:'#39CEDE',color:'#606266'}"  ref="singleTable"  :data="page.list"  highlight-current-row   style="width: 100%;height: 500px;">
						    <el-table-column  type="index"  width="50"></el-table-column>
						    <el-table-column  property="pjobid"  label="工号"  width="120"></el-table-column>
							<el-table-column  property="sect.qname"  label="班组名称"  width="120"></el-table-column>
						    <el-table-column  property="pname"  label="姓名"  width="120"> </el-table-column>
						    <el-table-column  property="psex"  label="性别"></el-table-column>
							<el-table-column  property="pphone"  label="手机"></el-table-column>
							<el-table-column  property="pbodystatus"  label="身体状况"></el-table-column>
							<el-table-column  property="pheight"  label="身高"></el-table-column>
							<el-table-column  property="porigo"  label="籍贯"></el-table-column>
							<el-table-column  property="pmaritalstatus"  label="婚姻状况"></el-table-column>
							<el-table-column  property="pbirthday"  label="出生日期" show-overflow-tooltip></el-table-column>
							<el-table-column  property="peducation"  label="学历"></el-table-column>
							<el-table-column  property="pidnumber"  label="身份证号" show-overflow-tooltip></el-table-column>
							<el-table-column  property="paccountadd"  label="户口地址" ></el-table-column>
							<el-table-column  property="pschooltag"  label="毕业院校" show-overflow-tooltip></el-table-column>
							
						  </el-table>
						</template>
						<el-pagination  style="margin: 10px 0px 0px 300px;" background  
						layout="prev, pager, next"  
						@current-change="fenye"
						:page-size="2"
						:total="page.total"
						>
							
						</el-pagination>
					</div>
				</div>
				

			</div>
			
			<el-dialog title="班组添加" :visible.sync="dialogVisible5" width="40%" :before-close="handleClose" >
					<div style="margin-left: 60px;">
						
						<span style="color:#40AFFF;margin-right: 15px;">班组名称</span><input v-model="bj.qname"/>
						<h3 style="color:#40AFFF ;"></h3><input type="hidden" v-model="bj.qparentid"/>
					</div>
					<span slot="footer" class="dialog-footer">
						<el-button @click="dialogVisible5 = false">取 消</el-button>
						<el-button type="primary" @click="getbjadd()">确 定</el-button>
					</span>
			</el-dialog>
			<!--  单击增加按钮打开-->
			<el-dialog title="技工添加" :visible.sync="dialogVisible1" width="55%" :before-close="handleClose">
				  <!-- <el-button type="primary" icon="el-icon-search">搜索</el-button> -->
				  <div style="background-color: #FAFAFA ;" id="zj">
					  <span style="margin-right: 10px;">技工编号<input v-model="xuan1.pjobid"/></span>
					  <span style="margin-right: 10px;">技工名称<input v-model="xuan1.pname"/></span>
					  <span  style="margin-right: 10px;" class="dropdown">
						   <span>性别</span>
						   <select v-model="xuan1.psex"  style="width: 50px;height: 26px;">
							   <option>男</option>
							   <option>女</option>
							   <option>人妖</option>
							   
						   </select>
						   
					 </span>
					<!-- <input type="checkbox" /><span>组长</span><br/> -->
					 <div style="margin: 10px 0px;">
						 <span>所在班组</span>
						 <input disabled="disabled" v-model="xuan.sect.qname"/>
						 <span style="margin: 0px 10px 0px -20px;" @click="dialogVisible3= true"  class="el-icon-caret-bottom"></span>
						 <span style="margin-right: 10px; ">手机<input v-model="xuan1.pphone" style="width: 140px;" /></span>
						 <span style="margin-right: 10px; ">身体状况<input v-model="xuan1.pbodystatus" style="width: 140px;"/></span>
					  </div>
					  <div style="margin: 10px 0px;">
						  <span style="margin-right: 10px; ">籍贯<input v-model="xuan1.porigo" style="margin-left: 20px;" /></span>
						  <span style="margin-right: 10px; ">出生日期<input v-model="xuan1.pbirthday" style="width: 140px;" type="date"/></span>
						  <span style="margin-right: 10px; ">身高<input v-model="xuan1.pheight"  style="width: 140px;"/></span>
					  </div>
					  <div style="margin: 10px 0px;">
						  <span style="margin-right: 10px; ">身份证号<input v-model="xuan1.pidnumber"/></span>
						  <span style="margin-right: 10px; ">户口地址<input v-model="xuan1.paccountadd"/></span>
						  
					  </div>
					  <div style="margin: 10px 0px;">
						  <span style="margin-right: 10px; ">婚姻状况<input v-model="xuan1.pmaritalstatus" style="width: 120px;"/></span>
						  <span style="margin-right: 10px; ">学历<input v-model="xuan1.peducation" style="width: 120px;"/></span>
						  <span style="margin-right: 10px; ">毕业院校<input v-model="xuan1.pschooltag" style="width: 120px;"/></span>
					  </div>
				  </div>
				  <span slot="footer" class="dialog-footer">
					<el-button @click="dialogVisible1 = false">取 消</el-button>
					<el-button type="primary" @click="getjgadd" >确 定</el-button>
				  </span>
			</el-dialog>
			<!--下拉事件触发-->
			<el-dialog title="班组"  :visible.sync="dialogVisible3"  width="30%"  :before-close="handleClose">
			  <div>
				  <el-tree :data="data" :props="defaultProps" @node-click="xgbj"></el-tree>
			  </div>
			  <span slot="footer" class="dialog-footer">
			    <el-button @click="dialogVisible3 = false" type="primary" >保存</el-button>
			  </span>
			</el-dialog>
			
			<!--单击修改按钮打开-->
			<el-dialog title="技工资料" :visible.sync="dialogVisible" width="55%" :before-close="handleClose">
				  <div style="background-color: #FAFAFA ;" id="zj">
					  <span style="margin-right: 10px;">技工编号<input v-model="xuan.pjobid" disabled="disabled"/></span>
					  <span style="margin-right: 10px;">技工名称<input v-model="xuan.pname" /></span>
					  <span  style="margin-right: 10px;" class="dropdown">
						   <select v-model="xuan.psex" style="width: 50px;height: 26px;">
						   			<option>男</option>
						   			<option>女</option>
						   			<option>人妖</option>
						   							   
						   </select>
					 </span>
					 <!-- <input type="checkbox" /><span>组长</span><br/> -->
					 <div style="margin: 10px 0px;">
						 <span>所在班组</span>
						 <input disabled="disabled" v-model="xuan.sect.qname"/>
						 <span style="margin: 0px 10px 0px -20px;" @click="dialogVisible3= true"  class="el-icon-caret-bottom"></span>
						 <span style="margin-right: 10px; ">手机<input v-model="xuan.pphone" style="width: 140px;" /></span>
						 <span style="margin-right: 10px; ">身体状况<input  v-model="xuan.pbodystatus" style="width: 140px;"/></span>
					  </div>
					  <div style="margin: 10px 0px;">
						  <span style="margin-right: 10px; ">籍贯<input v-model="xuan.porigo" style="margin-left: 20px;" /></span>
						  <span style="margin-right: 10px; ">出生日期<input v-model="xuan.pbirthday" style="width: 140px;" type="date"/></span>
						  <span style="margin-right: 10px; ">身高<input v-model="xuan.pheight" style="width: 140px;"/></span>
					  </div>
					  <div style="margin: 10px 0px;">
						  <span style="margin-right: 10px; ">身份证号<input v-model="xuan.pidnumber"/></span>
						  <span style="margin-right: 10px; ">户口地址<input v-model="xuan.paccountadd"/></span>
					  </div>
					  <div style="margin: 10px 0px;">
						  <span>婚姻状态</span>
						  <select v-model="xuan.pmaritalstatus" style="margin-right: 10px;width: 140px;height: 26px;">
						  		<option>已婚</option>
								<option>未婚</option>
						  </select>
						  <span style="margin-right: 10px; ">毕业院校<input v-model="xuan.pschooltag" style="width: 140px;" /></span>
						  <span style="margin-right: 10px; ">学历<input v-model="xuan.peducation" style="width: 120px;"/></span>
					  </div>
				  </div>
				  <span slot="footer" class="dialog-footer">
					<el-button @click="dialogVisible = false">取 消</el-button>
					<el-button type="primary" @click="getxiu()">确 定</el-button>
				  </span>
			</el-dialog>
			
			<!--单击班组权重时打开-->
			<el-dialog title="班组权重" :visible.sync="dialogTableVisible" >
				<div class="panel panel-default">
				  <div class="panel-heading" style="position: relative">
				    <h3 class="panel-title">班组权重</h3>
					<div style="position: absolute; right: 0px;top:5px">
						<input  placeholder="匹配班组名称" v-model="name1"/>
						<el-button size="mini" type="success" @click="getbjqzcsy">搜索</el-button>
						<el-button @click="dialogTableVisible = false"  size="mini" type="info">关闭</el-button>
					</div>
				  </div>
				  <div class="panel-body">
					  <span class="glyphicon glyphicon-search" style="margin-right: 20px;">查询</span>
					  <span class="el-icon-document-checked" style="margin-right: 20px;">全部选择</span>
					  <span class="el-icon-document-delete" style="margin-right: 20px;">全部取消</span>
					  <span class="el-icon-dish-1" style="margin-right: 20px;">保存</span>
				  </div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
					</div>
					<div class="col-md-9">
						<template>
						  <el-table ref="multipleTable"  height="300"  :data="quanzhong" tooltip-effect="dark" style="width: 100%" >
						    <el-table-column type="selection"width="55"></el-table-column>
							<el-table-column prop="section.qname" label="班组名称" width="120"></el-table-column>
						    <el-table-column prop="uznbai" label="站内白天" width="120"></el-table-column>
						    <el-table-column prop="uznwan" label="站内晚上" width="120"> </el-table-column>
						    <el-table-column  prop="uzwbai" label="站外白天"  show-overflow-tooltip></el-table-column>
							<el-table-column prop="uzwwan"label="站外晚上" width="120"></el-table-column>
							<el-table-column prop="uztbai"label="站台白天" width="120"></el-table-column>
							<el-table-column prop="uztwan"label="站台晚上" width="120"></el-table-column>
							<el-table-column prop="uranyouf"label="燃油费" width="120"></el-table-column>
							
						  </el-table>
						</template>
						
					</div>
				</div>
			</el-dialog>	
			
		</div>
		<script src="../js/jquery-1.12.4.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../elementui/index.js"></script>
		<script type="text/javascript">
			/** a有效注释 */
			var vm = new Vue({
				el:"#ctx",
				data(){
					return {
						name1:"",
						bj:{},//添加班组时使用
						quanzhong:[
							
						],
						page:{
							
						},
						xuan:{
							sect:{}
						},
						xuan1:{
							sect:{
								
							}
						},
						name:"",
						/** 关闭模态框判断使用 */
						dialogVisible: false,
						dialogVisible5:false,
						dialogVisible1: false,
						dialogVisible3:false,
						dialogTableVisible: false,
						tableData: [],
						data:[
							
						],
						defaultProps: {
							id:'qid',
							children:'sect',
							label: 'qname'
						}
						
					}		
				},
				methods: {
					//添加员工
					getjgadd(){
						alert(1);
						var that=this;
						console.log(that.xuan);
						that.xuan1.sect=that.xuan.sect;
						console.log(that.xuan1);
						
						var str=JSON.stringify(that.xuan1);
						 $.ajax({
							 url:"http://localhost:8888/fxmbzjg/jgadd",
							 data:str,
							 contentType:"application/json;charset=utf-8",
							 type:"post",
							 success:function(rel){
								 that.xuan1.sect="";
								 that.xuan1="";
								 alert(rel);
								 that.dialogVisible1=false;
								 that.getjffind(1);
								 
								
							 }
						 })
					},
					//修改员工
					getxiu(){
						
						var that=this;
						if(that.xuan.sect.qid==null||that.xuan.pid==null){
							alert("请选择数据在进行操作，亲");
							that.dialogVisible=false;
							return;
						}
						console.log(that.xuan);
						var str=JSON.stringify(that.xuan);
						$.ajax({
							url:"http://localhost:8888/fxmbzjg/jgupdate",
							data:str,
							contentType:"application/json;charset=utf-8",
							type:"post",
							success:function(rel){
								alert(rel);
								that.dialogVisible=false;
							}
						})
					},
					//班组添加
					getbjadd(){	
						var that=this;
						that.dialogVisible5=false;
						$.ajax({
							url:"http://localhost:8888/fxmbzjg/bjadd",
							data:that.bj,
							success:function(rel){
								alert(rel);
								that.getright();
							}
						})
					},
					//班组权重查询所有
					getbjqzcsy(){
						var that=this;
						console.log(that.name1);
						var ab=that.name1;
						$.ajax({
							url:"http://localhost:8888/fxmbzjg/bjqzcsy?name1="+that.name1,
							success:function(rel){
								console.log(rel);
								that.quanzhong=rel;
							}
						})
					},
					fenye(val){
						this.getjffind(val);
					},
					xgbj(date){
						var that=this;
						
						that.xuan.sect=date;
						console.log(that.xuan.sect);
						//that.xuan1.sect1=date;
					},
					  /**单击表格**/
					  getbg(val){
						var that=this;
						if(that.xuan!=null){
							that.xuan=val;
							that.xuan1=val;
							console.log(that.xuan);
						}
					  },
					  /**删除单击触发**/
					  getshan(){
						  var that=this;
						  if(that.xuan.pjobid==undefined){
							 alert("请选中数据在进行操作");
							 return;
						  };
						  var str=JSON.stringify(that.xuan);
						  $.ajax({
							  url:"http://localhost:8888/fxmbzjg/bzjgshan",
							  data:str,
							  type:"post",
							  contentType:"application/json;charset=utf-8",
							  success:function(rel){
								  alert(rel);
							  }
						  })
					  },
					  /**导出**/
					  daochu(){
						  var that=this;
						  window.location.href="http://localhost:8888/fxmbzjg/exportExcel?name="+that.name;
					  },
				      handleNodeClick(data) {
				        console.log(data);
				      },
					  rowclick(){
						  console.log(222);
					  },
					  /** 关闭模态框时判断 */
					  handleClose(done) {
								this.$confirm('确认关闭？')
					            .then(_ => {
					              done();
					            })
					            .catch(_ => {});
					  },
					  getjffind(val){
						  var that=this;
						  $.ajax({
							  url:"http://localhost:8888/fxmbzjg/bzjgcsy",
							  data:{
								  pageNum:val,
								  pageSize:2,
								  name:that.name
							  },
							  success:function(rel){
								  console.log(rel);
								  that.page=rel;
							  }
						  })
					  },
					  getright(){
					  	var that=this;
					  	$.ajax({
					  		url:"http://localhost:8888/fxmbzjg/bzjgright",
					  		success:function(rel){
					  			that.data=rel;
					  			console.log(that.data)
					  		}
					  	})
					  	
					  },
					  append(data) {
						  console.log(data);
						  alert(data.qid);
						  alert(data.qjudge)
						  this.dialogVisible5=true;
						  this.bj.qparentid=data.qid;
					  },
					  //班组删除
					  remove(data) {
						  alert(data.qid);
						  var that=this;
						  that.bj.qid=data.qid;
						  $.ajax({
							  url:"http://localhost:8888/fxmbzjg/bjshan",
							  data:that.bj,
							  success:function(rel){
								  alert(rel);
								  that.getright();
							  }
						  })
					  },
			  
					renderContent(h, { node, data, store }) {
					  
					}
				},
				created(){
					this.getjffind(1);
					this.getright();
					this.getbjqzcsy();
				}
			
			});
		</script>
	</body>
</html>
