<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>外来车辆</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../elementui/index.css"/>
	</head>
	<style>
		#tou span{
			 color:#40AFFF;
		}
	</style>
	<body>
		<div class="container-fluid" id="ctx">
				<div class="panel panel-default">
				  <div class="panel-heading" style="position: relative">
				    <h3 class="panel-title" style="font-weight: 800;">外来车辆</h3>
					<div style="position: absolute; right: 10px;top:5px">
						<el-button size="mini" type="info">关闭</el-button>
					</div>
				  </div>
				  <div class="panel-body" style="position: relative">
					  <div style="position: absolute; right: 0px;top:10px">
						  <span @click="getadd()" class="glyphicon glyphicon-eye-open" style="margin-right: 20px;">增加</span>
						  <span @click="getshan()" class="glyphicon glyphicon-remove-sign" style="margin-right: 20px;">删除</span>
						  <span @click="getbc()" class="el-icon-dish-1" style="margin-right: 20px;">保存</span>
					  </div>
					  <div style="margin-top: 20px;" id="tou" >
						  <span>车牌号<input v-model="xuan.car.hlicenseno" style="width: 120px;"></span>
						  <span>品牌<input  v-model="xuan.carbrand.ibrandname" style="width: 120px;"></span>
						  <span>车型<input  v-model="xuan.cartype.jtypename" style="width: 120px;"></span>
						  <span>当前里程<input v-model="xuan.car.hmileage" style="width: 120px;"></span>
						  <span>班组</span>
						  <input disabled="disabled" style="width: 120px;" v-model="xuan.section.qname"/>
						  <span style="margin: 0px 10px 0px -20px;" @click="dialogVisible = true"  class="el-icon-caret-bottom"></span>
						  
					  </div>
				  </div>
				</div>
				<div>
					<template>
					  <el-table @row-click="hhh"  :header-cell-style="{background:'#39CEDE',color:'#606266'}" ref="singleTable"  :data="page.list"  highlight-current-row   style="width: 100%">
					    <el-table-column type="index" width="50"></el-table-column>
					    <el-table-column  property="car.hlicenseno"  label="车牌号"  width="120"></el-table-column>
					    <el-table-column  property="carbrand.ibrandname"  label="品牌"  width="120"></el-table-column>
					    <el-table-column  property="cartype.jtypename"  label="车型" width="120"></el-table-column>
						<el-table-column  property="car.hmileage"  label="当前里程" width="120"></el-table-column>
						<el-table-column  property="section.qname"  label="归属班组" width="120"></el-table-column>
					  </el-table> 
					</template>
					<el-pagination style="margin:10px 0px 0px 500px;" background  layout="prev, pager, next" 
					@current-change="fenye"
					:page-size="2"
					:total="page.total">
					</el-pagination>
				</div>
				<!--下拉事件触发-->
				<el-dialog title="维修班组"  :visible.sync="dialogVisible"  width="30%"  :before-close="handleClose">
				  <div>
					  <el-tree v-model="aa"   :data="data" :props="defaultProps"  @node-click="jzxoifj"></el-tree>
					  
				  </div>
				  <span slot="footer" class="dialog-footer">
				    <el-button @click="dialogVisible = false">取 消</el-button>
				    <el-button type="primary" @click="dialogVisible = false">选择</el-button>
				  </span>
				</el-dialog>
		</div>
	</body>
	<script src="../js/jquery-1.12.4.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/vue.js"></script>
	<script src="../elementui/index.js"></script>
	<script>
		var vm=new Vue({
			el:"#ctx",
			data(){
				return {
					page:{
						
					},
					xuan:{
						car:{},
						carbrand:{},
						cartype:{},
						section:{}
					},
					aa:"",
					// 关闭对话框时判断使用
					dialogVisible: false,
					 data:[
						 
					 ],
					defaultProps: {
						id:'qid',
						children: 'sect',
						label: 'qname'
					}
				}
			},
			methods:{
				fenye(val){
					this.getfindpage(val);
				},
				hhh(val){
					if(this.xuan!=null){
						this.xuan=val;
						console.log(val);
					}
					
				},
				handleClose(done) {
						alert(this.aa)
				        this.$confirm('确认关闭？')
				          .then(_ => {
				            done();
				          })
				          .catch(_ => {});
				},
				getfindpage(pageNum){
					var that=this;
					$.ajax({
						url:"http://localhost:8888/fxmcar/carcsy?pageNum="+pageNum+"&pageSize=2",
						success:function(rel){
							//console.log(rel+"123");
							that.page=rel;
							//that.list=rel.list;
							//console.log(that.page);
						}
					})
				},
				getshan(){
					var that=this;
					var vid=that.xuan.vid;
					console.log(vid);
					if(that.xuan.car.hid==undefined){
						alert("请先选中你要删除的数据")
						return;
					}
					$.ajax({
						url:"http://localhost:8888/fxmcar/carshan?vid="+vid,
						success:function(rel){
							alert(rel);
							that.getfindpage(1);
						}
					})
				},
				getadd(){
					var that=this;
					if(that.xuan.car.hlicenseno==null){
							alert("请勿为空值");
							return;
					}
					that.xuan.car.hid="";
					that.xuan.carbrand.iid="";
					that.xuan.cartype.jid="";
					that.xuan.vid="";
					console.log(that.xuan);
					var str=JSON.stringify(that.xuan);
					console.log(str);
					$.ajax({
						url:"http://localhost:8888/fxmcar/caradd",
						data:str,
						contentType:"application/json;charset=utf-8",
						type:"post",
						success:function(rel){
							alert(rel);
							that.xuan.car="";
							that.xuan.carbrand="";
							that.xuan.cartype="";
						}
					})
					
				},
				getbc(){
					var that=this;
					var str=JSON.stringify(that.xuan);
					$.ajax({
						url:"http://localhost:8888/fxmcar/carxiu",
						data:str,
						contentType:"application/json;charset=utf-8",
						type:"post",
						success:function(rel){
							alert(rel);
							that.getfindpage(1);
							that.xuan.car="";
							that.xuan.carbrand="";
							that.xuan.cartype="";
						}
					})
				},
				jzxoifj(date){
					
					// alert(this.xuan.section.qid=date.qid);
					this.xuan.section.qname=date.qname;
					this.xuan.section.qid=date.qid
				},
				getright(){
					var that=this;
					$.ajax({
						url:"http://localhost:8888/fxmcar/carright",
						success:function(rel){
							that.data=rel;
							console.log(that.data)
						}
					})
					
				}
			},
			created(){
				this.getfindpage(1);
				this.getright();
				
			}
			
		})
	</script>
</html>
