<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../elementui/index.css">
		<style>
			*{
				margin: 0;
				padding: 0;
			}
			.head-left{
				width: 200px;
				height: 60px;
				text-align: center;
				line-height: 60px;
				background-color: #18304A;
				color: #FFFFFF;
			}
			.head-right{
				height: 50px;
				line-height: 50px;
				background-color: #18304A;
				color: #FFFFFF;
			}
			.menu-a{
				height: 50px;
			}.div1{
				height: 100px; width: 200px; background: #18304A; position: fixed; bottom: 0; left: 0; color: #fff;
			}
			.logo{
				height: 100%; 
				background: #18304A;
			}
			html,body{
				height: 100%;
			}
		</style>
	</head>
	<body >
		<div id="app"  style="height: 100%;">
			
			<el-container  style="height: 100%;">
			  <el-aside width="200px" class="logo">
				<div class="head-left">
					德召文
				</div>
				<el-menu
				      default-active="2"
				      class="el-menu-vertical-demo"
				      @open="handleOpen"
				      @close="handleClose"
					  @select="handleSelectLeft"
					  :collapse="isCollapse"
					  >
				      <el-menu-item index="1">
				        <i class="el-icon-menu"></i>
				        <span slot="title">首页</span>
				      </el-menu-item>
					  
					  <div v-if="o.children!=null" v-for="(o,i) in menub" >
						  <el-submenu :index="o.id">
						          <template slot="title">
						            <i :class="o.icon"></i>
						            <span>{{o.cname}}</span>
						          </template>
						          <el-menu-item-group v-for="os in o.children" >
						            <el-menu-item :index="os.id">{{os.cname}}</el-menu-item>
						          </el-menu-item-group>
						          
						        </el-submenu>
					  </div>
					  <div v-else>
						  <el-menu-item :index="o.id" v-for="(o,i) in menub">
						      <i :class="o.icon"></i>
						      <span slot="title">{{o.cname}}</span>
						    </el-menu-item>
						  </el-menu>
					  </div>
					  
				    <div class="div1">1</div>
			  </el-aside>
			  <el-main style="padding: 0;">
				<el-row class="head-right">
				  <el-col :span="24">
					 <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
					   <el-menu-item :index="o.id"  v-for="(o,i) in menua" >{{o.name}}</el-menu-item>
					 </el-menu>
				  </el-col>
				</el-row>
				
				<el-row>
					<el-col :span="24">
						<el-tabs v-model="editableTabsValue" type="card" closable @tab-remove="removeTab">
						  <el-tab-pane
							v-for="(item, index) in editableTabs"
							:key="item.id"
							:label="item.cname"
							:name="item.name"
						  >
							<iframe :src="item.url" width="100%" style="border: 0px;" height="633px" frameborder="0"></iframe>
						  </el-tab-pane>
						</el-tabs>
					</el-col>
				</el-row>
			  </el-main>
			</el-container>
		</div>
		<!-- 引入组件库 -->
		<script src="../js/vue.js"></script>
		<script src="../elementui/index.js"></script>
		<script>
			 new Vue({
				el: '#app',
				data: function() {
					return { 
						menua:[{id:"1",name:"服务接待"},{id:"2",name:"结算中心"},
						{id:"3",name:"客户档案"},{id:"4",name:"基础数据"},
						{id:"5",name:"行政人事"},{id:"6",name:"系统设置"}],
						menub:[{id:"7",name:"left1",cname:"维修救援",icon:"el-icon-setting",url:"11",children:[{id:"8",name:"left1a",cname:"维修接车",icon:"el-icon-setting",url:"register.html",children:null},{id:"9",name:"left1b",cname:"竣工检验",icon:"el-icon-setting",url:"checkout.html",children:null}]}],
						activeIndex: '1',
						isCollapse: false,
						
						editableTabsValue: '2',
						editableTabs: [],
						tabIndex: 2
					}
				 },
				methods: {
						handleSelect(key, keyPath) {
					        console.log(key, keyPath);
							if(key==1){
							 	this.menub=[{id:"7",name:"left1",cname:"维修救援",icon:"el-icon-setting",url:"11",
							 	children:[{id:"8",name:"left1a",cname:"维修接车",icon:"el-icon-setting",url:"register.html",children:null},
							 	{id:"9",name:"left1b",cname:"竣工检验",icon:"el-icon-setting",url:"checkout.html",children:null}]}];
							}
							if(key==2){
							 	this.menub=[{id:"10",name:"left2",cname:"前台结算",icon:"el-icon-setting",url:"11",
							 	children:[{id:"11",name:"left2a",cname:"结算中心",icon:"el-icon-setting",url:"zhongxin.html",children:null}]}];
							}
							if(key==3){
							  	this.menub=[{id:"12",name:"left3",cname:"客户档案",icon:"el-icon-setting",url:"11",
							  	children:[{id:"13",name:"left3a",cname:"客户资料",icon:"el-icon-setting",url:"custom.html",children:null},
							  	{id:"14",name:"left3b",cname:"车辆资料",icon:"el-icon-setting",url:"cara.html",children:null}]}];
							}
							if(key==4){
							  	this.menub=[{id:"15",name:"left4",cname:"主数据",icon:"el-icon-setting",url:"11",
							  	children:[{id:"16",name:"left4a",cname:"发动机品牌",icon:"el-icon-setting",url:"index.html",children:null},
							  	{id:"17",name:"left4b",cname:"车型档案",icon:"el-icon-setting",url:"chexing.html",children:null},
								{id:"18",name:"left4c",cname:"维修项目",icon:"el-icon-setting",url:"msi.html",children:null},
								{id:"19",name:"left4d",cname:"商品资料",icon:"el-icon-setting",url:"goods.html",children:null},
								{id:"20",name:"left4e",cname:"供货单位",icon:"el-icon-setting",url:"gonghuo.html",children:null}]}];
							}
							if(key==5){
							   	this.menub=[{id:"21",name:"left5",cname:"员工资料",icon:"el-icon-setting",url:"11",
							   	children:[{id:"22",name:"left5a",cname:"组织机构",icon:"el-icon-setting",url:"register.html",children:null},
							   	{id:"23",name:"left5b",cname:"岗位定义",icon:"el-icon-setting",url:"checkout.html",children:null},
								{id:"24",name:"left5c",cname:"离职登记",icon:"el-icon-setting",url:"checkout.html",children:null},
								{id:"25",name:"left5d",cname:"通讯名录",icon:"el-icon-setting",url:"checkout.html",children:null}]},
								{id:"26",name:"left6",cname:"技工管理",icon:"el-icon-setting",url:"11",
								children:[{id:"27",name:"left6a",cname:"技工星级",icon:"el-icon-setting",url:"grade.html",children:null},
								{id:"28",name:"left6b",cname:"班组技工",icon:"el-icon-setting",url:"bzjg.html",children:null},
								{id:"29",name:"left6c",cname:"外勤车辆",icon:"el-icon-setting",url:"car.html",children:null}]}];
							}
							if(key==6){
							   	this.menub=[{id:"30",name:"left7",cname:"系统设置",icon:"el-icon-setting",url:"11",
							   	children:[{id:"31",name:"left7a",cname:"维修接车",icon:"el-icon-setting",url:"register.html",children:null},
							   	{id:"32",name:"left7b",cname:"竣工检验",icon:"el-icon-setting",url:"checkout.html",children:null}]}];
							}
						},
						handleSelectLeft(key, keyPath) {
					         console.log(key, keyPath);
							var that = this;
							 this.menub.forEach(function(val,index,arr){
							    
								 if(val.id==key){
									 console.log(val);
									  that.addTab(val);
								 }else if(val.children!=null){
									 val.children.forEach(function(va,index,arr){
										if(va.id==key){
											console.log(va);
											that.addTab(va);
										}
									 });
								 }
							 });
						},
						handleOpen(key, keyPath) {
							console.log(key, keyPath);
						},
						handleClose(key, keyPath) {
							console.log(key, keyPath);
							
						},
						
						addTab(obj) {
							var bol= false;
							var that = this;
							this.editableTabs.forEach(function(val,index,arr){
							   
							 if(val.id==obj.id){
								 that.editableTabsValue = obj.name;
								 console.log(obj.name);
								 bol=true;
								}
							});
							if(bol){
								return;
							}
							this.editableTabs.push(obj);
							this.editableTabsValue = obj.name;
						},
						removeTab(targetName) {
							let tabs = this.editableTabs;
							let activeName = this.editableTabsValue;
							if (activeName === targetName) {
							  tabs.forEach((tab, index) => {
								if (tab.name === targetName) {
								  let nextTab = tabs[index + 1] || tabs[index - 1];
								  if (nextTab) {
									activeName = nextTab.name;
								  }
								}
							  });
							}
							
							this.editableTabsValue = activeName;
							this.editableTabs = tabs.filter(tab => tab.name !== targetName);
						}
				}
			})
			
			
		</script>
	</body>
</html>