<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>结算中心</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../elementui/index.css"/>
	</head>
	<style>
		.tou input{
			width: 120px;
			height: 26px;
		}
		.tou span{
			color:#40AFFF;
			margin-right: 10px;
			
		}
		#sy span{
			color:#40AFFF;
			font-size: 20px;
			margin: 10px 10px 10px 10px;
		}
		
	</style>
	<body>
		<div class="container-fluid" id="ctx">
				<div class="panel panel-default" >
				  <div class="panel-heading" style="position: relative;background-color: #F7FFFF;">
				    <h3 class="panel-title" style="font-size: 20px;">结算中心</h3>
					<div style="position: absolute; right: 0px;top:5px;">
						<el-button @click="getfind(1)"  size="mini" type="success">搜索</el-button>
						<el-button size="mini" type="info">关闭</el-button>
					</div>
				  </div>
				  <div class="panel-body" style="position: relative;height: 130px;background-color: #F7F7F7; ">
					  <div class="tou" style="background-color: #F7FFFF; border-top:#4AC6D7 2px solid ; padding: 10px 10px ;">
						  <span>
						      <span class="demonstration">完工日期</span>
						      <el-date-picker
								
								value-format="yyyy-MM-dd"
						        v-model="value1"
						        type="daterange"
						        range-separator="至"
						        start-placeholder="开始日期"
						        end-placeholder="结束日期">
						      </el-date-picker>
						  </span>
						  <span>销售单号</span><input  v-model="ssellno1" />
						  <span>结算状态</span>
						  <select @change="getfind(1)" v-model="ssettlementstatus1" style="width: 120px;height: 26px;">
							  <option >已结算</option>
							  <option >未结算</option>
						  </select>
						  
						  <div style="margin-top: 10px;">
							  <span>客户名称</span><input v-model="ecustomername1" />
							  <span>车牌号</span><input  v-model="hlicenseno1" />
					
						  </div>
						  
					  </div>
					  
					  <div style="position: absolute; right: 0px; bottom: 0px;">
						  <span v-if="ssettlementstatus1=='未结算'"  style="margin-right: 20px;">
							  <span  class="el-icon-document-copy" style="color: #fbb347;"></span><span @click="shouyin">收银</span>
						  </span>
						  <span v-if="ssettlementstatus1=='已结算'"  style="margin-right: 20px;">
						  		<span  class="glyphicon glyphicon-copy " style="color: #fbb347;"></span><span @click="huigun()">回滚</span>
						  </span>
						  <span style="margin-right: 20px;">
						  		<span  class="el-icon-copy-document " style="color: #fbb347;"></span><span @click="danju">打开单据</span>
						  </span>
						  <span style="margin-right: 20px;">
						  		<span  class="glyphicon glyphicon-export " style="color: #fbb347;"></span><span @click="daochu()">导出</span>
						  </span>
						  
					  </div>
				  </div>
				</div>
				<div>
					<template>
					  <el-table @row-click="biaoge" :header-cell-style="{background:'#39CEDE',color:'#606266'}"  ref="singleTable"  :data="page.list" highlight-current-row style="width: 100%">
					    <el-table-column   type="index"    width="50"></el-table-column>
					    <el-table-column  property="ssellno"  label="销售单号"  width="120"></el-table-column>
						<el-table-column  property="sclearingform"   width="120"   label="结算方式"></el-table-column>
					    <el-table-column  property="docu.zstatus"  label="单据状态" width="120"></el-table-column>
					    <el-table-column  property="ssettlementstatus"   width="120"   label="结算状态"></el-table-column>
						<el-table-column  property="ssettlementdate"   show-overflow-tooltip   label="结算时间"></el-table-column>
						<el-table-column  property="ssettlementpeople"  width="120"    label="结算人"></el-table-column>
						<el-table-column  property="ssettlementmoney"   width="120"   label="结算金额"></el-table-column>
						<el-table-column  property="sbusinesstypeno"   width="120"   label="业务类型"></el-table-column>
						<el-table-column  property="cust.ecustomername"  width="120"    label="客户名称"></el-table-column>
						<el-table-column  property="car.hlicenseno"   width="120"   label="车牌号"></el-table-column>
						<el-table-column  property="car.carbr.ibrandname"   width="120"   label="车型"></el-table-column>
						<el-table-column  property="sindemnitycompany"   width="120"   label="赔款公司"></el-table-column>
						<el-table-column  property="scompletedate"    show-overflow-tooltip  label="完工时间"></el-table-column>
					  </el-table>
					</template>
					<el-pagination 
					style="margin:30px 0px 0px 500px;"
					background  layout="prev, pager, next"
					@current-change="fenye"
					:page-size="2"
					:total="page.total">
					</el-pagination>
				</div>
				
		</div>
	</body>
	<script src="../js/jquery-1.12.4.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/vue.js"></script>
	<script src="../elementui/index.js"></script>
	<script>
			var vm=new Vue({
				el:"#ctx",
				data(){
					return{
						value1:"",
						dialogVisible:false,
						cla:{},
						page:{},
						ecustomername1:"",	  //客户名称
						ssettlementstatus1:"", //结算状态
						ssellno1:"",    //销售单号
						hlicenseno1:"",		//车牌号
						tableData: [],
						currentRow: null,
						sj1:'',
						sj2:''
					}
				},
				methods: {
					shouyin(){
						var that=this;
						if(that.cla.sid==null){
							alert("请选择数据");
							return;
						}
						var str=JSON.stringify(that.cla);
						$.ajax({
							url:"http://localhost:8888/fxmzx/zxshouyin",
							data:str,
							type:"post",
							contentType:"application/json;charset=utf-8",
							success:function(rel){
								if(rel=="失败"){
									that.ssettlementstatus1="已结算";
									that.getfind(1);
								}
							}
						})
					},
					danju(){
						var that=this;
						if(that.cla.sid==null){
							alert("请重新选择数据");
							return;
						}
						window.location.href="keepa.html?sid="+that.cla.sid;
					},
					huigun(){
						var that=this;
						if(that.cla.sid==null ||that.cla.ssettlementstatus=="未结算"){
							alert("请重新选择数据");
							return;
						}
						var str=JSON.stringify(that.cla);
						$.ajax({
							url:"http://localhost:8888/fxmzx/zxhuigun",
							data:str,
							type:"post",
							contentType:"application/json;charset=utf-8",
							success:function(rel){
								if(rel=="成功"){
									that.ssettlementstatus1="未结算";
									that.getfind(1);
								}
							}
						})
						
					},
					biaoge(val){
						var that=this;
						that.cla=val;
					},
					daochu(){
						var that=this;
						window.location.href="http://localhost:8888/fxmzx/exportExcel?ssettlementstatus1="+that.ssettlementstatus1;
						//window.location.href="http://localhost:8888/fxmbzjg/exportExcel?ssettlementstatus1="+that.ssettlementstatus1+"&ecustomername1="+that.ecustomername1+"&ssellno1="+that.ssellno1+"&hlicenseno1="+that.hlicenseno1;
					},
					fenye(val){
						this.getfind(val);
					},
					getfind(val){
						var that=this;
						if(that.value1!=null){
							that.sj1=that.value1[0];
							that.sj2=that.value1[1];
						}else{
							that.sj1=null;
							that.sj2=null;
						}
						
						$.ajax({
							url:"http://localhost:8888/fxmzx/zxfind",
							data:{
									pageNum:val,
									pageSize:2,
									ecustomername1:that.ecustomername1,
									ssettlementstatus1:that.ssettlementstatus1,
									ssellno1:that.ssellno1,
									hlicenseno1:that.hlicenseno1,
									sj1:that.sj1,
									sj2:that.sj2
							},
							type:"post",
							success:function(rel){
								console.log(rel);
								that.page=rel;
							}
						})
					},
					handleClose(done) {
					        this.$confirm('确认关闭？')
					          .then(_ => {
					            done();
					          })
					          .catch(_ => {});
					}
				},
				created(){
					this.getfind(1);
				}
				
			})
	</script>
</html>
