<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.CheckoutMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Checkout" >
    <id column="alid" property="alid" jdbcType="INTEGER" />
    <result column="alcarid" property="alcarid" jdbcType="INTEGER" />
    <result column="alcarownername" property="alcarownername" jdbcType="VARCHAR" />
    <result column="albusinessid" property="albusinessid" jdbcType="INTEGER" />
    <result column="alclearingform" property="alclearingform" jdbcType="VARCHAR" />
    <result column="aldepartdate" property="aldepartdate" jdbcType="DATE" />
    <result column="alroadworkdate" property="alroadworkdate" jdbcType="DATE" />
    <result column="alestimatemoney" property="alestimatemoney" jdbcType="REAL" />
    <result column="aldriveid" property="aldriveid" jdbcType="INTEGER" />
    <result column="aldivisions" property="aldivisions" jdbcType="VARCHAR" />
    <result column="alpkcompany" property="alpkcompany" jdbcType="VARCHAR" />
    <result column="aldepartaddress" property="aldepartaddress" jdbcType="VARCHAR" />
    <result column="alrescueaddress" property="alrescueaddress" jdbcType="VARCHAR" />
    <result column="alwxremake" property="alwxremake" jdbcType="VARCHAR" />
    <result column="alphone" property="alphone" jdbcType="VARCHAR" />
    <result column="althemileage" property="althemileage" jdbcType="INTEGER" />
    <result column="aldrivecar" property="aldrivecar" jdbcType="VARCHAR" />
    <result column="alcrew" property="alcrew" jdbcType="VARCHAR" />
    <result column="alstaffid" property="alstaffid" jdbcType="INTEGER" />
    <result column="aldispatchdate" property="aldispatchdate" jdbcType="DATE" />
    <result column="alrange" property="alrange" jdbcType="INTEGER" />
    <result column="alcompletedate" property="alcompletedate" jdbcType="DATE" />
    <result column="alstatement" property="alstatement" jdbcType="VARCHAR" />
    <result column="aliscomplete" property="aliscomplete" jdbcType="INTEGER" />
    <result column="alweidan" property="alweidan" jdbcType="VARCHAR" />
    <result column="aldantype" property="aldantype" jdbcType="VARCHAR" />
    <result column="alwugong" property="alwugong" jdbcType="VARCHAR" />
    <result column="alzhijian" property="alzhijian" jdbcType="VARCHAR" />
    <result column="alzeren" property="alzeren" jdbcType="VARCHAR" />
    <result column="alchufa" property="alchufa" jdbcType="REAL" />
    <result column="alfanyuan" property="alfanyuan" jdbcType="VARCHAR" />
    <result column="alfannum" property="alfannum" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap type="com.accp.domain.Checkout" id="BaseResultMapTwo" extends="BaseResultMap">
  	<association property="c2" column="alcarid" javaType="com.accp.domain.Car">
  		<id column="hid" property="hid" jdbcType="INTEGER" />
	    <result column="hlicenseno" property="hlicenseno" jdbcType="VARCHAR" />
	    <result column="hbrandid" property="hbrandid" jdbcType="INTEGER" />
	    <result column="htypeid" property="htypeid" jdbcType="INTEGER" />
	    <result column="hdriverid" property="hdriverid" jdbcType="INTEGER" />
	    <result column="hvehicleownership" property="hvehicleownership" jdbcType="INTEGER" />
	    <result column="hvin" property="hvin" jdbcType="VARCHAR" />
	    <result column="hengineid" property="hengineid" jdbcType="INTEGER" />
	    <result column="hengineno" property="hengineno" jdbcType="VARCHAR" />
	    <result column="hcarmj" property="hcarmj" jdbcType="REAL" />
	    <result column="hmileage" property="hmileage" jdbcType="INTEGER" />
	    <result column="hcarseries" property="hcarseries" jdbcType="VARCHAR" />
	    <result column="hbuydate" property="hbuydate" jdbcType="DATE" />
	    <result column="hbldate" property="hbldate" jdbcType="DATE" />
	    <result column="hsoidate" property="hsoidate" jdbcType="DATE" />
	    <result column="hjqxicbc" property="hjqxicbc" jdbcType="INTEGER" />
	    <result column="hjqxexpire" property="hjqxexpire" jdbcType="DATE" />
	    <result column="hsyxicbc" property="hsyxicbc" jdbcType="INTEGER" />
	    <result column="hsyxlastdate" property="hsyxlastdate" jdbcType="DATE" />
	    <result column="hicar" property="hicar" jdbcType="INTEGER" />
	    <result column="hfueltype" property="hfueltype" jdbcType="INTEGER" />
	    <result column="hnextmileage" property="hnextmileage" jdbcType="INTEGER" />
	    <result column="hmileagedate" property="hmileagedate" jdbcType="DATE" />
	    <result column="huid" property="huid" jdbcType="INTEGER" />
	    <result column="hweiid" property="hweiid" jdbcType="INTEGER" />
  	</association>
  	<association property="c3" column="albusinessid" javaType="com.accp.domain.Maintainxm">
  		<id column="xid" property="xid" jdbcType="INTEGER" />
	    <result column="xmaintainname" property="xmaintainname" jdbcType="VARCHAR" />
	    <result column="xparentid" property="xparentid" jdbcType="INTEGER" />
  	</association>
  	<association property="c4" column="aldriveid" javaType="com.accp.domain.Driver">
  		<id column="oid" property="oid" jdbcType="INTEGER" />
	    <result column="oname" property="oname" jdbcType="VARCHAR" />
	    <result column="ophone" property="ophone" jdbcType="VARCHAR" />
	    <result column="obirthday" property="obirthday" jdbcType="DATE" />
	    <result column="oexpire" property="oexpire" jdbcType="DATE" />
  	</association>
  </resultMap>
  
  <select id="findAlls" resultMap="BaseResultMapTwo">
  	SELECT * FROM checkout AS c1 INNER JOIN car AS c2 ON(c1.`alcarid` = c2.`hid`)
	INNER JOIN maintainxm AS c3 ON(c1.`albusinessid` = c3.`xid`)
	INNER JOIN driver AS c4 ON(c1.`aldriveid` = c4.`oid`)
	<where>
		if<if test=""></if>
	</where>
  </select>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    alid, alcarid, alcarownername, albusinessid, alclearingform, aldepartdate, alroadworkdate, 
    alestimatemoney, aldriveid, aldivisions, alpkcompany, aldepartaddress, alrescueaddress, 
    alwxremake, alphone, althemileage, aldrivecar, alcrew, alstaffid, aldispatchdate, 
    alrange, alcompletedate, alstatement, aliscomplete, alweidan, aldantype, alwugong, 
    alzhijian, alzeren, alchufa, alfanyuan, alfannum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.CheckoutExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkout
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkout
    where alid = #{alid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from checkout
    where alid = #{alid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.CheckoutExample" >
    delete from checkout
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Checkout" >
    insert into checkout (alid, alcarid, alcarownername, 
      albusinessid, alclearingform, aldepartdate, 
      alroadworkdate, alestimatemoney, aldriveid, 
      aldivisions, alpkcompany, aldepartaddress, 
      alrescueaddress, alwxremake, alphone, 
      althemileage, aldrivecar, alcrew, 
      alstaffid, aldispatchdate, alrange, 
      alcompletedate, alstatement, aliscomplete, 
      alweidan, aldantype, alwugong, 
      alzhijian, alzeren, alchufa, 
      alfanyuan, alfannum)
    values (#{alid,jdbcType=INTEGER}, #{alcarid,jdbcType=INTEGER}, #{alcarownername,jdbcType=VARCHAR}, 
      #{albusinessid,jdbcType=INTEGER}, #{alclearingform,jdbcType=VARCHAR}, #{aldepartdate,jdbcType=DATE}, 
      #{alroadworkdate,jdbcType=DATE}, #{alestimatemoney,jdbcType=REAL}, #{aldriveid,jdbcType=INTEGER}, 
      #{aldivisions,jdbcType=VARCHAR}, #{alpkcompany,jdbcType=VARCHAR}, #{aldepartaddress,jdbcType=VARCHAR}, 
      #{alrescueaddress,jdbcType=VARCHAR}, #{alwxremake,jdbcType=VARCHAR}, #{alphone,jdbcType=VARCHAR}, 
      #{althemileage,jdbcType=INTEGER}, #{aldrivecar,jdbcType=VARCHAR}, #{alcrew,jdbcType=VARCHAR}, 
      #{alstaffid,jdbcType=INTEGER}, #{aldispatchdate,jdbcType=DATE}, #{alrange,jdbcType=INTEGER}, 
      #{alcompletedate,jdbcType=DATE}, #{alstatement,jdbcType=VARCHAR}, #{aliscomplete,jdbcType=INTEGER}, 
      #{alweidan,jdbcType=VARCHAR}, #{aldantype,jdbcType=VARCHAR}, #{alwugong,jdbcType=VARCHAR}, 
      #{alzhijian,jdbcType=VARCHAR}, #{alzeren,jdbcType=VARCHAR}, #{alchufa,jdbcType=REAL}, 
      #{alfanyuan,jdbcType=VARCHAR}, #{alfannum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Checkout" >
    insert into checkout
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alid != null" >
        alid,
      </if>
      <if test="alcarid != null" >
        alcarid,
      </if>
      <if test="alcarownername != null" >
        alcarownername,
      </if>
      <if test="albusinessid != null" >
        albusinessid,
      </if>
      <if test="alclearingform != null" >
        alclearingform,
      </if>
      <if test="aldepartdate != null" >
        aldepartdate,
      </if>
      <if test="alroadworkdate != null" >
        alroadworkdate,
      </if>
      <if test="alestimatemoney != null" >
        alestimatemoney,
      </if>
      <if test="aldriveid != null" >
        aldriveid,
      </if>
      <if test="aldivisions != null" >
        aldivisions,
      </if>
      <if test="alpkcompany != null" >
        alpkcompany,
      </if>
      <if test="aldepartaddress != null" >
        aldepartaddress,
      </if>
      <if test="alrescueaddress != null" >
        alrescueaddress,
      </if>
      <if test="alwxremake != null" >
        alwxremake,
      </if>
      <if test="alphone != null" >
        alphone,
      </if>
      <if test="althemileage != null" >
        althemileage,
      </if>
      <if test="aldrivecar != null" >
        aldrivecar,
      </if>
      <if test="alcrew != null" >
        alcrew,
      </if>
      <if test="alstaffid != null" >
        alstaffid,
      </if>
      <if test="aldispatchdate != null" >
        aldispatchdate,
      </if>
      <if test="alrange != null" >
        alrange,
      </if>
      <if test="alcompletedate != null" >
        alcompletedate,
      </if>
      <if test="alstatement != null" >
        alstatement,
      </if>
      <if test="aliscomplete != null" >
        aliscomplete,
      </if>
      <if test="alweidan != null" >
        alweidan,
      </if>
      <if test="aldantype != null" >
        aldantype,
      </if>
      <if test="alwugong != null" >
        alwugong,
      </if>
      <if test="alzhijian != null" >
        alzhijian,
      </if>
      <if test="alzeren != null" >
        alzeren,
      </if>
      <if test="alchufa != null" >
        alchufa,
      </if>
      <if test="alfanyuan != null" >
        alfanyuan,
      </if>
      <if test="alfannum != null" >
        alfannum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alid != null" >
        #{alid,jdbcType=INTEGER},
      </if>
      <if test="alcarid != null" >
        #{alcarid,jdbcType=INTEGER},
      </if>
      <if test="alcarownername != null" >
        #{alcarownername,jdbcType=VARCHAR},
      </if>
      <if test="albusinessid != null" >
        #{albusinessid,jdbcType=INTEGER},
      </if>
      <if test="alclearingform != null" >
        #{alclearingform,jdbcType=VARCHAR},
      </if>
      <if test="aldepartdate != null" >
        #{aldepartdate,jdbcType=DATE},
      </if>
      <if test="alroadworkdate != null" >
        #{alroadworkdate,jdbcType=DATE},
      </if>
      <if test="alestimatemoney != null" >
        #{alestimatemoney,jdbcType=REAL},
      </if>
      <if test="aldriveid != null" >
        #{aldriveid,jdbcType=INTEGER},
      </if>
      <if test="aldivisions != null" >
        #{aldivisions,jdbcType=VARCHAR},
      </if>
      <if test="alpkcompany != null" >
        #{alpkcompany,jdbcType=VARCHAR},
      </if>
      <if test="aldepartaddress != null" >
        #{aldepartaddress,jdbcType=VARCHAR},
      </if>
      <if test="alrescueaddress != null" >
        #{alrescueaddress,jdbcType=VARCHAR},
      </if>
      <if test="alwxremake != null" >
        #{alwxremake,jdbcType=VARCHAR},
      </if>
      <if test="alphone != null" >
        #{alphone,jdbcType=VARCHAR},
      </if>
      <if test="althemileage != null" >
        #{althemileage,jdbcType=INTEGER},
      </if>
      <if test="aldrivecar != null" >
        #{aldrivecar,jdbcType=VARCHAR},
      </if>
      <if test="alcrew != null" >
        #{alcrew,jdbcType=VARCHAR},
      </if>
      <if test="alstaffid != null" >
        #{alstaffid,jdbcType=INTEGER},
      </if>
      <if test="aldispatchdate != null" >
        #{aldispatchdate,jdbcType=DATE},
      </if>
      <if test="alrange != null" >
        #{alrange,jdbcType=INTEGER},
      </if>
      <if test="alcompletedate != null" >
        #{alcompletedate,jdbcType=DATE},
      </if>
      <if test="alstatement != null" >
        #{alstatement,jdbcType=VARCHAR},
      </if>
      <if test="aliscomplete != null" >
        #{aliscomplete,jdbcType=INTEGER},
      </if>
      <if test="alweidan != null" >
        #{alweidan,jdbcType=VARCHAR},
      </if>
      <if test="aldantype != null" >
        #{aldantype,jdbcType=VARCHAR},
      </if>
      <if test="alwugong != null" >
        #{alwugong,jdbcType=VARCHAR},
      </if>
      <if test="alzhijian != null" >
        #{alzhijian,jdbcType=VARCHAR},
      </if>
      <if test="alzeren != null" >
        #{alzeren,jdbcType=VARCHAR},
      </if>
      <if test="alchufa != null" >
        #{alchufa,jdbcType=REAL},
      </if>
      <if test="alfanyuan != null" >
        #{alfanyuan,jdbcType=VARCHAR},
      </if>
      <if test="alfannum != null" >
        #{alfannum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.CheckoutExample" resultType="java.lang.Integer" >
    select count(*) from checkout
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update checkout
    <set >
      <if test="record.alid != null" >
        alid = #{record.alid,jdbcType=INTEGER},
      </if>
      <if test="record.alcarid != null" >
        alcarid = #{record.alcarid,jdbcType=INTEGER},
      </if>
      <if test="record.alcarownername != null" >
        alcarownername = #{record.alcarownername,jdbcType=VARCHAR},
      </if>
      <if test="record.albusinessid != null" >
        albusinessid = #{record.albusinessid,jdbcType=INTEGER},
      </if>
      <if test="record.alclearingform != null" >
        alclearingform = #{record.alclearingform,jdbcType=VARCHAR},
      </if>
      <if test="record.aldepartdate != null" >
        aldepartdate = #{record.aldepartdate,jdbcType=DATE},
      </if>
      <if test="record.alroadworkdate != null" >
        alroadworkdate = #{record.alroadworkdate,jdbcType=DATE},
      </if>
      <if test="record.alestimatemoney != null" >
        alestimatemoney = #{record.alestimatemoney,jdbcType=REAL},
      </if>
      <if test="record.aldriveid != null" >
        aldriveid = #{record.aldriveid,jdbcType=INTEGER},
      </if>
      <if test="record.aldivisions != null" >
        aldivisions = #{record.aldivisions,jdbcType=VARCHAR},
      </if>
      <if test="record.alpkcompany != null" >
        alpkcompany = #{record.alpkcompany,jdbcType=VARCHAR},
      </if>
      <if test="record.aldepartaddress != null" >
        aldepartaddress = #{record.aldepartaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.alrescueaddress != null" >
        alrescueaddress = #{record.alrescueaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.alwxremake != null" >
        alwxremake = #{record.alwxremake,jdbcType=VARCHAR},
      </if>
      <if test="record.alphone != null" >
        alphone = #{record.alphone,jdbcType=VARCHAR},
      </if>
      <if test="record.althemileage != null" >
        althemileage = #{record.althemileage,jdbcType=INTEGER},
      </if>
      <if test="record.aldrivecar != null" >
        aldrivecar = #{record.aldrivecar,jdbcType=VARCHAR},
      </if>
      <if test="record.alcrew != null" >
        alcrew = #{record.alcrew,jdbcType=VARCHAR},
      </if>
      <if test="record.alstaffid != null" >
        alstaffid = #{record.alstaffid,jdbcType=INTEGER},
      </if>
      <if test="record.aldispatchdate != null" >
        aldispatchdate = #{record.aldispatchdate,jdbcType=DATE},
      </if>
      <if test="record.alrange != null" >
        alrange = #{record.alrange,jdbcType=INTEGER},
      </if>
      <if test="record.alcompletedate != null" >
        alcompletedate = #{record.alcompletedate,jdbcType=DATE},
      </if>
      <if test="record.alstatement != null" >
        alstatement = #{record.alstatement,jdbcType=VARCHAR},
      </if>
      <if test="record.aliscomplete != null" >
        aliscomplete = #{record.aliscomplete,jdbcType=INTEGER},
      </if>
      <if test="record.alweidan != null" >
        alweidan = #{record.alweidan,jdbcType=VARCHAR},
      </if>
      <if test="record.aldantype != null" >
        aldantype = #{record.aldantype,jdbcType=VARCHAR},
      </if>
      <if test="record.alwugong != null" >
        alwugong = #{record.alwugong,jdbcType=VARCHAR},
      </if>
      <if test="record.alzhijian != null" >
        alzhijian = #{record.alzhijian,jdbcType=VARCHAR},
      </if>
      <if test="record.alzeren != null" >
        alzeren = #{record.alzeren,jdbcType=VARCHAR},
      </if>
      <if test="record.alchufa != null" >
        alchufa = #{record.alchufa,jdbcType=REAL},
      </if>
      <if test="record.alfanyuan != null" >
        alfanyuan = #{record.alfanyuan,jdbcType=VARCHAR},
      </if>
      <if test="record.alfannum != null" >
        alfannum = #{record.alfannum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update checkout
    set alid = #{record.alid,jdbcType=INTEGER},
      alcarid = #{record.alcarid,jdbcType=INTEGER},
      alcarownername = #{record.alcarownername,jdbcType=VARCHAR},
      albusinessid = #{record.albusinessid,jdbcType=INTEGER},
      alclearingform = #{record.alclearingform,jdbcType=VARCHAR},
      aldepartdate = #{record.aldepartdate,jdbcType=DATE},
      alroadworkdate = #{record.alroadworkdate,jdbcType=DATE},
      alestimatemoney = #{record.alestimatemoney,jdbcType=REAL},
      aldriveid = #{record.aldriveid,jdbcType=INTEGER},
      aldivisions = #{record.aldivisions,jdbcType=VARCHAR},
      alpkcompany = #{record.alpkcompany,jdbcType=VARCHAR},
      aldepartaddress = #{record.aldepartaddress,jdbcType=VARCHAR},
      alrescueaddress = #{record.alrescueaddress,jdbcType=VARCHAR},
      alwxremake = #{record.alwxremake,jdbcType=VARCHAR},
      alphone = #{record.alphone,jdbcType=VARCHAR},
      althemileage = #{record.althemileage,jdbcType=INTEGER},
      aldrivecar = #{record.aldrivecar,jdbcType=VARCHAR},
      alcrew = #{record.alcrew,jdbcType=VARCHAR},
      alstaffid = #{record.alstaffid,jdbcType=INTEGER},
      aldispatchdate = #{record.aldispatchdate,jdbcType=DATE},
      alrange = #{record.alrange,jdbcType=INTEGER},
      alcompletedate = #{record.alcompletedate,jdbcType=DATE},
      alstatement = #{record.alstatement,jdbcType=VARCHAR},
      aliscomplete = #{record.aliscomplete,jdbcType=INTEGER},
      alweidan = #{record.alweidan,jdbcType=VARCHAR},
      aldantype = #{record.aldantype,jdbcType=VARCHAR},
      alwugong = #{record.alwugong,jdbcType=VARCHAR},
      alzhijian = #{record.alzhijian,jdbcType=VARCHAR},
      alzeren = #{record.alzeren,jdbcType=VARCHAR},
      alchufa = #{record.alchufa,jdbcType=REAL},
      alfanyuan = #{record.alfanyuan,jdbcType=VARCHAR},
      alfannum = #{record.alfannum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Checkout" >
    update checkout
    <set >
      <if test="alcarid != null" >
        alcarid = #{alcarid,jdbcType=INTEGER},
      </if>
      <if test="alcarownername != null" >
        alcarownername = #{alcarownername,jdbcType=VARCHAR},
      </if>
      <if test="albusinessid != null" >
        albusinessid = #{albusinessid,jdbcType=INTEGER},
      </if>
      <if test="alclearingform != null" >
        alclearingform = #{alclearingform,jdbcType=VARCHAR},
      </if>
      <if test="aldepartdate != null" >
        aldepartdate = #{aldepartdate,jdbcType=DATE},
      </if>
      <if test="alroadworkdate != null" >
        alroadworkdate = #{alroadworkdate,jdbcType=DATE},
      </if>
      <if test="alestimatemoney != null" >
        alestimatemoney = #{alestimatemoney,jdbcType=REAL},
      </if>
      <if test="aldriveid != null" >
        aldriveid = #{aldriveid,jdbcType=INTEGER},
      </if>
      <if test="aldivisions != null" >
        aldivisions = #{aldivisions,jdbcType=VARCHAR},
      </if>
      <if test="alpkcompany != null" >
        alpkcompany = #{alpkcompany,jdbcType=VARCHAR},
      </if>
      <if test="aldepartaddress != null" >
        aldepartaddress = #{aldepartaddress,jdbcType=VARCHAR},
      </if>
      <if test="alrescueaddress != null" >
        alrescueaddress = #{alrescueaddress,jdbcType=VARCHAR},
      </if>
      <if test="alwxremake != null" >
        alwxremake = #{alwxremake,jdbcType=VARCHAR},
      </if>
      <if test="alphone != null" >
        alphone = #{alphone,jdbcType=VARCHAR},
      </if>
      <if test="althemileage != null" >
        althemileage = #{althemileage,jdbcType=INTEGER},
      </if>
      <if test="aldrivecar != null" >
        aldrivecar = #{aldrivecar,jdbcType=VARCHAR},
      </if>
      <if test="alcrew != null" >
        alcrew = #{alcrew,jdbcType=VARCHAR},
      </if>
      <if test="alstaffid != null" >
        alstaffid = #{alstaffid,jdbcType=INTEGER},
      </if>
      <if test="aldispatchdate != null" >
        aldispatchdate = #{aldispatchdate,jdbcType=DATE},
      </if>
      <if test="alrange != null" >
        alrange = #{alrange,jdbcType=INTEGER},
      </if>
      <if test="alcompletedate != null" >
        alcompletedate = #{alcompletedate,jdbcType=DATE},
      </if>
      <if test="alstatement != null" >
        alstatement = #{alstatement,jdbcType=VARCHAR},
      </if>
      <if test="aliscomplete != null" >
        aliscomplete = #{aliscomplete,jdbcType=INTEGER},
      </if>
      <if test="alweidan != null" >
        alweidan = #{alweidan,jdbcType=VARCHAR},
      </if>
      <if test="aldantype != null" >
        aldantype = #{aldantype,jdbcType=VARCHAR},
      </if>
      <if test="alwugong != null" >
        alwugong = #{alwugong,jdbcType=VARCHAR},
      </if>
      <if test="alzhijian != null" >
        alzhijian = #{alzhijian,jdbcType=VARCHAR},
      </if>
      <if test="alzeren != null" >
        alzeren = #{alzeren,jdbcType=VARCHAR},
      </if>
      <if test="alchufa != null" >
        alchufa = #{alchufa,jdbcType=REAL},
      </if>
      <if test="alfanyuan != null" >
        alfanyuan = #{alfanyuan,jdbcType=VARCHAR},
      </if>
      <if test="alfannum != null" >
        alfannum = #{alfannum,jdbcType=INTEGER},
      </if>
    </set>
    where alid = #{alid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Checkout" >
    update checkout
    set alcarid = #{alcarid,jdbcType=INTEGER},
      alcarownername = #{alcarownername,jdbcType=VARCHAR},
      albusinessid = #{albusinessid,jdbcType=INTEGER},
      alclearingform = #{alclearingform,jdbcType=VARCHAR},
      aldepartdate = #{aldepartdate,jdbcType=DATE},
      alroadworkdate = #{alroadworkdate,jdbcType=DATE},
      alestimatemoney = #{alestimatemoney,jdbcType=REAL},
      aldriveid = #{aldriveid,jdbcType=INTEGER},
      aldivisions = #{aldivisions,jdbcType=VARCHAR},
      alpkcompany = #{alpkcompany,jdbcType=VARCHAR},
      aldepartaddress = #{aldepartaddress,jdbcType=VARCHAR},
      alrescueaddress = #{alrescueaddress,jdbcType=VARCHAR},
      alwxremake = #{alwxremake,jdbcType=VARCHAR},
      alphone = #{alphone,jdbcType=VARCHAR},
      althemileage = #{althemileage,jdbcType=INTEGER},
      aldrivecar = #{aldrivecar,jdbcType=VARCHAR},
      alcrew = #{alcrew,jdbcType=VARCHAR},
      alstaffid = #{alstaffid,jdbcType=INTEGER},
      aldispatchdate = #{aldispatchdate,jdbcType=DATE},
      alrange = #{alrange,jdbcType=INTEGER},
      alcompletedate = #{alcompletedate,jdbcType=DATE},
      alstatement = #{alstatement,jdbcType=VARCHAR},
      aliscomplete = #{aliscomplete,jdbcType=INTEGER},
      alweidan = #{alweidan,jdbcType=VARCHAR},
      aldantype = #{aldantype,jdbcType=VARCHAR},
      alwugong = #{alwugong,jdbcType=VARCHAR},
      alzhijian = #{alzhijian,jdbcType=VARCHAR},
      alzeren = #{alzeren,jdbcType=VARCHAR},
      alchufa = #{alchufa,jdbcType=REAL},
      alfanyuan = #{alfanyuan,jdbcType=VARCHAR},
      alfannum = #{alfannum,jdbcType=INTEGER}
    where alid = #{alid,jdbcType=INTEGER}
  </update>
</mapper>