<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.ClearingMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Clearing" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="ssellno" property="ssellno" jdbcType="VARCHAR" />
    <result column="sbillstypeno" property="sbillstypeno" jdbcType="INTEGER" />
    <result column="sclearingform" property="sclearingform" jdbcType="VARCHAR" />
    <result column="sstatusid" property="sstatusid" jdbcType="INTEGER" />
    <result column="ssettlementstatus" property="ssettlementstatus" jdbcType="VARCHAR" />
    <result column="ssettlementdate" property="ssettlementdate" jdbcType="DATE" />
    <result column="ssettlementpeople" property="ssettlementpeople" jdbcType="VARCHAR" />
    <result column="ssettlementmoney" property="ssettlementmoney" jdbcType="REAL" />
    <result column="sbusinesstypeno" property="sbusinesstypeno" jdbcType="INTEGER" />
    <result column="scusno" property="scusno" jdbcType="INTEGER" />
    <result column="scarno" property="scarno" jdbcType="INTEGER" />
    <result column="sinsuranceno" property="sinsuranceno" jdbcType="INTEGER" />
    <result column="sindemnitycompany" property="sindemnitycompany" jdbcType="VARCHAR" />
    <result column="scompletedate" property="scompletedate" jdbcType="DATE" />
    <result column="sremark" property="sremark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap extends="BaseResultMap" type="com.accp.domain.Clearing"  id="BaseResultMapExtends">
  			<association property="docu" column="sstatusid" javaType="com.accp.domain.Documentstatus" select="com.accp.dao.DocumentstatusMapper.findById">
  			
  			</association>
  			<association property="cust" column="scusno" javaType="com.accp.domain.Customer" select="com.accp.dao.CustomerMapper.findById">
  			
  			</association>
  			<association property="car" column="scarno" javaType="com.accp.domain.Car" select="com.accp.dao.CarMapper.csytjId">
  			
  			</association>
  </resultMap>
  <select id="findAll" resultMap="BaseResultMapExtends">
  			SELECT * FROM `clearing` AS a
			INNER JOIN `documentstatus` AS b ON a.`sstatusid`=b.`zid`
			INNER JOIN  `customer` AS c ON  a.`scusno`=c.`eid`
			INNER JOIN  `car` AS d ON a.`scarno` =d.`hid`
  			
  			<where>
  				<if test="sj1 !=null and sj2 !=null and sj1 != '' and sj2 != ''  ">
  					a.ssettlementdate BETWEEN #{sj1} AND #{sj2}
  				</if>
  				<if test="ssellno !=null">
  					AND a.ssellno LIKE concat ('%',#{ssellno},'%')
  				</if>
  				<if test="ssettlementstatus !=null">
  					AND a.ssettlementstatus LIKE concat ('%',#{ssettlementstatus},'%')
  				</if>
  				<if test="ecustomername != null">
  					AND c.ecustomername LIKE concat ('%',#{ecustomername},'%')
  				</if>
  				<if test="hlicenseno != null">
  					AND d.hlicenseno LIKE concat ('%',#{hlicenseno},'%')
  				</if>
  			</where>
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, ssellno, sbillstypeno, sclearingform, sstatusid, ssettlementstatus, ssettlementdate, 
    ssettlementpeople, ssettlementmoney, sbusinesstypeno, scusno, scarno, sinsuranceno, 
    sindemnitycompany, scompletedate, sremark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.ClearingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clearing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clearing
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clearing
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.ClearingExample" >
    delete from clearing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Clearing" >
    insert into clearing (sid, ssellno, sbillstypeno, 
      sclearingform, sstatusid, ssettlementstatus, 
      ssettlementdate, ssettlementpeople, ssettlementmoney, 
      sbusinesstypeno, scusno, scarno, 
      sinsuranceno, sindemnitycompany, scompletedate, 
      sremark)
    values (#{sid,jdbcType=INTEGER}, #{ssellno,jdbcType=VARCHAR}, #{sbillstypeno,jdbcType=INTEGER}, 
      #{sclearingform,jdbcType=VARCHAR}, #{sstatusid,jdbcType=INTEGER}, #{ssettlementstatus,jdbcType=VARCHAR}, 
      #{ssettlementdate,jdbcType=DATE}, #{ssettlementpeople,jdbcType=VARCHAR}, #{ssettlementmoney,jdbcType=REAL}, 
      #{sbusinesstypeno,jdbcType=INTEGER}, #{scusno,jdbcType=INTEGER}, #{scarno,jdbcType=INTEGER}, 
      #{sinsuranceno,jdbcType=INTEGER}, #{sindemnitycompany,jdbcType=VARCHAR}, #{scompletedate,jdbcType=DATE}, 
      #{sremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Clearing" >
    insert into clearing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="ssellno != null" >
        ssellno,
      </if>
      <if test="sbillstypeno != null" >
        sbillstypeno,
      </if>
      <if test="sclearingform != null" >
        sclearingform,
      </if>
      <if test="sstatusid != null" >
        sstatusid,
      </if>
      <if test="ssettlementstatus != null" >
        ssettlementstatus,
      </if>
      <if test="ssettlementdate != null" >
        ssettlementdate,
      </if>
      <if test="ssettlementpeople != null" >
        ssettlementpeople,
      </if>
      <if test="ssettlementmoney != null" >
        ssettlementmoney,
      </if>
      <if test="sbusinesstypeno != null" >
        sbusinesstypeno,
      </if>
      <if test="scusno != null" >
        scusno,
      </if>
      <if test="scarno != null" >
        scarno,
      </if>
      <if test="sinsuranceno != null" >
        sinsuranceno,
      </if>
      <if test="sindemnitycompany != null" >
        sindemnitycompany,
      </if>
      <if test="scompletedate != null" >
        scompletedate,
      </if>
      <if test="sremark != null" >
        sremark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="ssellno != null" >
        #{ssellno,jdbcType=VARCHAR},
      </if>
      <if test="sbillstypeno != null" >
        #{sbillstypeno,jdbcType=INTEGER},
      </if>
      <if test="sclearingform != null" >
        #{sclearingform,jdbcType=VARCHAR},
      </if>
      <if test="sstatusid != null" >
        #{sstatusid,jdbcType=INTEGER},
      </if>
      <if test="ssettlementstatus != null" >
        #{ssettlementstatus,jdbcType=VARCHAR},
      </if>
      <if test="ssettlementdate != null" >
        #{ssettlementdate,jdbcType=DATE},
      </if>
      <if test="ssettlementpeople != null" >
        #{ssettlementpeople,jdbcType=VARCHAR},
      </if>
      <if test="ssettlementmoney != null" >
        #{ssettlementmoney,jdbcType=REAL},
      </if>
      <if test="sbusinesstypeno != null" >
        #{sbusinesstypeno,jdbcType=INTEGER},
      </if>
      <if test="scusno != null" >
        #{scusno,jdbcType=INTEGER},
      </if>
      <if test="scarno != null" >
        #{scarno,jdbcType=INTEGER},
      </if>
      <if test="sinsuranceno != null" >
        #{sinsuranceno,jdbcType=INTEGER},
      </if>
      <if test="sindemnitycompany != null" >
        #{sindemnitycompany,jdbcType=VARCHAR},
      </if>
      <if test="scompletedate != null" >
        #{scompletedate,jdbcType=DATE},
      </if>
      <if test="sremark != null" >
        #{sremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.ClearingExample" resultType="java.lang.Integer" >
    select count(*) from clearing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clearing
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.ssellno != null" >
        ssellno = #{record.ssellno,jdbcType=VARCHAR},
      </if>
      <if test="record.sbillstypeno != null" >
        sbillstypeno = #{record.sbillstypeno,jdbcType=INTEGER},
      </if>
      <if test="record.sclearingform != null" >
        sclearingform = #{record.sclearingform,jdbcType=VARCHAR},
      </if>
      <if test="record.sstatusid != null" >
        sstatusid = #{record.sstatusid,jdbcType=INTEGER},
      </if>
      <if test="record.ssettlementstatus != null" >
        ssettlementstatus = #{record.ssettlementstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.ssettlementdate != null" >
        ssettlementdate = #{record.ssettlementdate,jdbcType=DATE},
      </if>
      <if test="record.ssettlementpeople != null" >
        ssettlementpeople = #{record.ssettlementpeople,jdbcType=VARCHAR},
      </if>
      <if test="record.ssettlementmoney != null" >
        ssettlementmoney = #{record.ssettlementmoney,jdbcType=REAL},
      </if>
      <if test="record.sbusinesstypeno != null" >
        sbusinesstypeno = #{record.sbusinesstypeno,jdbcType=INTEGER},
      </if>
      <if test="record.scusno != null" >
        scusno = #{record.scusno,jdbcType=INTEGER},
      </if>
      <if test="record.scarno != null" >
        scarno = #{record.scarno,jdbcType=INTEGER},
      </if>
      <if test="record.sinsuranceno != null" >
        sinsuranceno = #{record.sinsuranceno,jdbcType=INTEGER},
      </if>
      <if test="record.sindemnitycompany != null" >
        sindemnitycompany = #{record.sindemnitycompany,jdbcType=VARCHAR},
      </if>
      <if test="record.scompletedate != null" >
        scompletedate = #{record.scompletedate,jdbcType=DATE},
      </if>
      <if test="record.sremark != null" >
        sremark = #{record.sremark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clearing
    set sid = #{record.sid,jdbcType=INTEGER},
      ssellno = #{record.ssellno,jdbcType=VARCHAR},
      sbillstypeno = #{record.sbillstypeno,jdbcType=INTEGER},
      sclearingform = #{record.sclearingform,jdbcType=VARCHAR},
      sstatusid = #{record.sstatusid,jdbcType=INTEGER},
      ssettlementstatus = #{record.ssettlementstatus,jdbcType=VARCHAR},
      ssettlementdate = #{record.ssettlementdate,jdbcType=DATE},
      ssettlementpeople = #{record.ssettlementpeople,jdbcType=VARCHAR},
      ssettlementmoney = #{record.ssettlementmoney,jdbcType=REAL},
      sbusinesstypeno = #{record.sbusinesstypeno,jdbcType=INTEGER},
      scusno = #{record.scusno,jdbcType=INTEGER},
      scarno = #{record.scarno,jdbcType=INTEGER},
      sinsuranceno = #{record.sinsuranceno,jdbcType=INTEGER},
      sindemnitycompany = #{record.sindemnitycompany,jdbcType=VARCHAR},
      scompletedate = #{record.scompletedate,jdbcType=DATE},
      sremark = #{record.sremark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Clearing" >
    update clearing
    <set >
      <if test="ssellno != null" >
        ssellno = #{ssellno,jdbcType=VARCHAR},
      </if>
      <if test="sbillstypeno != null" >
        sbillstypeno = #{sbillstypeno,jdbcType=INTEGER},
      </if>
      <if test="sclearingform != null" >
        sclearingform = #{sclearingform,jdbcType=VARCHAR},
      </if>
      <if test="sstatusid != null" >
        sstatusid = #{sstatusid,jdbcType=INTEGER},
      </if>
      <if test="ssettlementstatus != null" >
        ssettlementstatus = #{ssettlementstatus,jdbcType=VARCHAR},
      </if>
      <if test="ssettlementdate != null" >
        ssettlementdate = #{ssettlementdate,jdbcType=DATE},
      </if>
      <if test="ssettlementpeople != null" >
        ssettlementpeople = #{ssettlementpeople,jdbcType=VARCHAR},
      </if>
      <if test="ssettlementmoney != null" >
        ssettlementmoney = #{ssettlementmoney,jdbcType=REAL},
      </if>
      <if test="sbusinesstypeno != null" >
        sbusinesstypeno = #{sbusinesstypeno,jdbcType=INTEGER},
      </if>
      <if test="scusno != null" >
        scusno = #{scusno,jdbcType=INTEGER},
      </if>
      <if test="scarno != null" >
        scarno = #{scarno,jdbcType=INTEGER},
      </if>
      <if test="sinsuranceno != null" >
        sinsuranceno = #{sinsuranceno,jdbcType=INTEGER},
      </if>
      <if test="sindemnitycompany != null" >
        sindemnitycompany = #{sindemnitycompany,jdbcType=VARCHAR},
      </if>
      <if test="scompletedate != null" >
        scompletedate = #{scompletedate,jdbcType=DATE},
      </if>
      <if test="sremark != null" >
        sremark = #{sremark,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Clearing" >
    update clearing
    set ssellno = #{ssellno,jdbcType=VARCHAR},
      sbillstypeno = #{sbillstypeno,jdbcType=INTEGER},
      sclearingform = #{sclearingform,jdbcType=VARCHAR},
      sstatusid = #{sstatusid,jdbcType=INTEGER},
      ssettlementstatus = #{ssettlementstatus,jdbcType=VARCHAR},
      ssettlementdate = #{ssettlementdate,jdbcType=DATE},
      ssettlementpeople = #{ssettlementpeople,jdbcType=VARCHAR},
      ssettlementmoney = #{ssettlementmoney,jdbcType=REAL},
      sbusinesstypeno = #{sbusinesstypeno,jdbcType=INTEGER},
      scusno = #{scusno,jdbcType=INTEGER},
      scarno = #{scarno,jdbcType=INTEGER},
      sinsuranceno = #{sinsuranceno,jdbcType=INTEGER},
      sindemnitycompany = #{sindemnitycompany,jdbcType=VARCHAR},
      scompletedate = #{scompletedate,jdbcType=DATE},
      sremark = #{sremark,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>