<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.FuelMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Fuel" >
    <id column="kid" property="kid" jdbcType="INTEGER" />
    <result column="kfuelid" property="kfuelid" jdbcType="VARCHAR" />
    <result column="kfuelname" property="kfuelname" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findByid" resultMap="BaseResultMap">
		select * from fuel where kid=#{hfueltype}  
	</select>
  <select id="findById" resultMap="BaseResultMap">
  			SELECT * FROM `fuel`  WHERE `kfuelid`=#{kfuelid}
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    kid, kfuelid, kfuelname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.FuelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fuel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fuel
    where kid = #{kid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fuel
    where kid = #{kid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.FuelExample" >
    delete from fuel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Fuel" >
    insert into fuel (kid, kfuelid, kfuelname
      )
    values (#{kid,jdbcType=INTEGER}, #{kfuelid,jdbcType=VARCHAR}, #{kfuelname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Fuel" >
    insert into fuel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="kid != null" >
        kid,
      </if>
      <if test="kfuelid != null" >
        kfuelid,
      </if>
      <if test="kfuelname != null" >
        kfuelname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="kid != null" >
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="kfuelid != null" >
        #{kfuelid,jdbcType=VARCHAR},
      </if>
      <if test="kfuelname != null" >
        #{kfuelname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.FuelExample" resultType="java.lang.Integer" >
    select count(*) from fuel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fuel
    <set >
      <if test="record.kid != null" >
        kid = #{record.kid,jdbcType=INTEGER},
      </if>
      <if test="record.kfuelid != null" >
        kfuelid = #{record.kfuelid,jdbcType=VARCHAR},
      </if>
      <if test="record.kfuelname != null" >
        kfuelname = #{record.kfuelname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fuel
    set kid = #{record.kid,jdbcType=INTEGER},
      kfuelid = #{record.kfuelid,jdbcType=VARCHAR},
      kfuelname = #{record.kfuelname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Fuel" >
    update fuel
    <set >
      <if test="kfuelid != null" >
        kfuelid = #{kfuelid,jdbcType=VARCHAR},
      </if>
      <if test="kfuelname != null" >
        kfuelname = #{kfuelname,jdbcType=VARCHAR},
      </if>
    </set>
    where kid = #{kid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Fuel" >
    update fuel
    set kfuelid = #{kfuelid,jdbcType=VARCHAR},
      kfuelname = #{kfuelname,jdbcType=VARCHAR}
    where kid = #{kid,jdbcType=INTEGER}
  </update>
</mapper>