<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.MaintainxmMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Maintainxm" >
    <id column="xid" property="xid" jdbcType="INTEGER" />
    <result column="xmaintainname" property="xmaintainname" jdbcType="VARCHAR" />
    <result column="xparentid" property="xparentid" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap type="com.accp.domain.Maintainxm" id="BaseResultMapTwo" extends="BaseResultMap">
  	<collection property="ma" column="xid" select="findAll"></collection>
  </resultMap>
  
  <select id="findAll" resultMap="BaseResultMapTwo">
  	select * from maintainxm where xparentid = #{id}
  </select>
  
  <select resultMap="BaseResultMap" id="findby">
  	select * from maintainxm where xid = #{xid}
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    xid, xmaintainname, xparentid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.MaintainxmExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from maintainxm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from maintainxm
    where xid = #{xid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from maintainxm
    where xid = #{xid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.MaintainxmExample" >
    delete from maintainxm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Maintainxm" >
    insert into maintainxm (xid, xmaintainname, xparentid
      )
    values (#{xid,jdbcType=INTEGER}, #{xmaintainname,jdbcType=VARCHAR}, #{xparentid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Maintainxm" >
    insert into maintainxm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xid != null" >
        xid,
      </if>
      <if test="xmaintainname != null" >
        xmaintainname,
      </if>
      <if test="xparentid != null" >
        xparentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xid != null" >
        #{xid,jdbcType=INTEGER},
      </if>
      <if test="xmaintainname != null" >
        #{xmaintainname,jdbcType=VARCHAR},
      </if>
      <if test="xparentid != null" >
        #{xparentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.MaintainxmExample" resultType="java.lang.Integer" >
    select count(*) from maintainxm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update maintainxm
    <set >
      <if test="record.xid != null" >
        xid = #{record.xid,jdbcType=INTEGER},
      </if>
      <if test="record.xmaintainname != null" >
        xmaintainname = #{record.xmaintainname,jdbcType=VARCHAR},
      </if>
      <if test="record.xparentid != null" >
        xparentid = #{record.xparentid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update maintainxm
    set xid = #{record.xid,jdbcType=INTEGER},
      xmaintainname = #{record.xmaintainname,jdbcType=VARCHAR},
      xparentid = #{record.xparentid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Maintainxm" >
    update maintainxm
    <set >
      <if test="xmaintainname != null" >
        xmaintainname = #{xmaintainname,jdbcType=VARCHAR},
      </if>
      <if test="xparentid != null" >
        xparentid = #{xparentid,jdbcType=INTEGER},
      </if>
    </set>
    where xid = #{xid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Maintainxm" >
    update maintainxm
    set xmaintainname = #{xmaintainname,jdbcType=VARCHAR},
      xparentid = #{xparentid,jdbcType=INTEGER}
    where xid = #{xid,jdbcType=INTEGER}
  </update>
</mapper>